.auto-position {
    display: none;
}

.drawing-board-area {
    height: 100%;
    width: 100vw;
}

#drawing-board {
    position: fixed;
    display: block;
}

#drawing-board-context-menu {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 50px;
    list-style: none;
    padding: 3px;
    background: red;
    user-select: none;
    cursor: pointer;
    display: none;
}

#drawing-board-context-menu li {
    list-style: none;
}

.zoom-group {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
}

.zoom-group input {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0.3em;
    line-height: 1.5em;
}