.panel-left {
    left: 0;
    height: 100%;
    top: 2rem;
}

#adj-matrix {
    width: calc(100% - 1em);
    height: 10rem;
    resize: none;
    white-space: pre;
    padding: 0.5em !;
    line-height: 1.2em;
}
