.panel-right {
    position: fixed;
    font-size: 0.8rem;
    width: 20em;
    min-width: 0;
    height: 100%;
    padding: 0.5em;
    top: var(--toolbar-height);
    right: 0;
    margin-right: 0;
    background-color: var(--pico-modal-overlay-background-color);

    transition: margin-right 0.3s ease;
    -moz-transition: margin-right 0.3s ease;
    -webkit-transition: margin-right 0.3s ease;
    -o-transition: margin-right 0.3s ease;
}

.panel-right details {
    margin-bottom: 1em;
}

.panel-right summary {
    height: 3em;
    font-size: inherit;
    text-align: center;    
}

.panel-right input {
    padding: 0;
    margin-bottom: 1em;
    font-size: inherit;
    height: 2em;
}

.collapsed {
    margin-right: -20em;
}