.panel-left {
    position: fixed;
    height: 100%;
    width: 15em;
    left: 0;
    top: var(--toolbar-height);
    background-color: var(--pico-modal-overlay-background-color);
    font-size: 0.8rem;
    padding: 0.5em;
}

.panel-left > * {
    margin-bottom: 2em;
}

#adj-matrix {
    width: calc(100% - 1em);
    height: 10rem;
    resize: none;
    white-space: pre;
    padding: 0.5em !;
    line-height: 1.2em;
}