.toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
    z-index: 100;
    background-color: var(--pico-background-color);
}

.toolbar div {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
}

.toolbar fieldset {
    margin: 0;
}

.toolbar button, .toolbar input {
    height: 1.5em;
    font-size: 1em;
    margin: 0;
    padding: 0 0.2em 0 0.2em;
}

.toolbar-right {
    position: absolute;
    right: 0.5em;
}

.select-mode input[type="radio"] {
    display: none
}
.select-mode label {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}
.select-mode label span {
    position: relative;
    line-height: 22px;
}
.select-mode label span:before,
.select-mode label span:after {
    content: '';
    background-color: var(--pico-primary-background);
    border: 4px solid var(--pico-primary-background);
    border-radius: var(--pico-border-radius);
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
}
.select-mode label span:after {
    background-color: var(--pico-primary-hover-background);
    border: 4px solid var(--pico-primary-hover-background);
    position: absolute;
    top: -4px;
    left: 0px;
    transition: 300ms;
    opacity: 0;
}
.select-mode label input:checked+span:after {
    opacity: 1;
}

.select-mode label[for="input-mode-1"] span:before,
.select-mode label[for="input-mode-1"] span:after {
    background-image: url('/src/assets/icons/pointer.svg');
}
.select-mode label[for="input-mode-2"] span:before,
.select-mode label[for="input-mode-2"] span:after {
    background-image: url('/src/assets/icons/plus-circle.svg');
}
.select-mode label[for="input-mode-3"] span:before,
.select-mode label[for="input-mode-3"] span:after {
    background-image: url('/src/assets/icons/arrow-up-right.svg');
}