:root {
    --toolbar-height: 2rem;
    --button-height: 1.6rem;
}

.toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    height: var(--toolbar-height);
    width: 100%;
    z-index: 100;
    background-color: var(--pico-background-color);
}

.toolbar div {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
}

.toolbar fieldset {
    margin: 0;
}

.toolbar button, .toolbar input {
    height: var(--button-height);
    width: var(--button-height);
    font-size: 0.8em;
    margin: 0;
    padding: 0 0.2em 0 0.2em;
    background-repeat: no-repeat;
    background-position: center;
}

.slection-specific-input {
    width: 40em
}
#selection-info {
    display: inline-block;
    min-width: 7em;
}
#selection-input {
    width: 10em;
}
.selection-buttons {
    display: inline;
}

#delete-selected-button {
    background-image: url('/src/assets/icons/eraser.svg'); 
}

#close-sidepanel-button {
    background-image: url('/src/assets/icons/flex-align-left.svg');
}

.select-mode label[for="input-mode-1"] span:before,
.select-mode label[for="input-mode-1"] span:after {
    background-image: url('/src/assets/icons/pointer.svg');
}
.select-mode label[for="input-mode-2"] span:before,
.select-mode label[for="input-mode-2"] span:after {
    background-image: url('/src/assets/icons/plus-circle.svg');
}
.select-mode label[for="input-mode-3"] span:before,
.select-mode label[for="input-mode-3"] span:after {
    background-image: url('/src/assets/icons/arrow.svg');
}

.toolbar-right {
    position: absolute;
    right: 0.5em;
}

.svg-buttons input {
    display: none
}
.svg-buttons label {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}
.svg-buttons label span {
    position: relative;
    line-height: 22px;
}
.svg-buttons label span:before,
.svg-buttons label span:after {
    content: '';
    background-color: var(--pico-primary-background);
    border: 4px solid var(--pico-primary-background);
    border-radius: var(--pico-border-radius);
    width: var(--button-height);
    height: var(--button-height);
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
}
.svg-buttons label span:after {
    background-color: var(--pico-primary-hover-background);
    border: 4px solid var(--pico-primary-hover-background);
    position: absolute;
    top: -4px;
    left: 0px;
    transition: 300ms;
    opacity: 0%;
}
.svg-buttons label input:checked+span:after {
    opacity: 100%;
}
.svg-buttons input:disabled + span {
    opacity: 40%;
}